body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(0, 6%, 49%);
}
.envelope{
    position: relative;
    cursor: pointer;
}

.back{
    position: relative;
    width: 240px; 
    height: 190px;
    background: #6b1212;
}

.front{
    position: absolute;
    border-right: 130px solid #770303;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    height: 0;
    width: 0;
    top: 0px;
    left: 120px;
    z-index: 3;
}

.front:before{
    content: "";
    position: absolute;
    border-left: 130px solid #770303;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    height: 0;
    width: 0;
    top: -100px;
    left: -120px;
}

.front:after{
    content: '';
    position: absolute;
    border-bottom: 100px solid #5d0101;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    height: 0;
    width: 0;
    top: 0px;
    left: -120px;

}
.top{
    position: absolute;
    border-top: 105px solid #5d0101;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    height: 0;
    width: 0;
    top: 0;
    transform-origin: top;
    transition: 0.4s;
}
.envelope:hover .top {
    transform: rotateX(160deg);
}
.letter{
    position: absolute;
    background: white;
    width: 230px;
    height: 180px;
    top: 10px;
    left: 10px;
    transition: 0.2s;
}
.envelope:hover .letter{
    transform: translateY(-100px);
    z-index: 2;

}
.text1{
    position: absolute;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: -50%;
}
.text{
    text-align: center;
    font-size: 15px;
    font-family: Helvetica;
    margin-top: 20px;
    font-weight: bold;
    color: rgb(128, 5, 5);
    position: absolute;
    top: -20px;
    left: 20px;
}

